body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a,
ul,
ol {
  list-style-type: none;
  text-decoration: none;
}

/* ----------------  HEADER  -------------- */
.header {
  background-color: #ffffff;
}
.header-nav-logo,
.header-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-nav-logo {
  color: #4d5ae5;
}
.header-accent {
  color: #2e2f42;
}

.header-nav-item,
.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-nav-item {
  font-weight: 500;
}
.header-nav-link {
  color: #2e2f42;
}
.header-nav-link:hover,
.header-nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.header-nav-link:active,
.header-nav-link:focus {
  text-decoration: underline;
}
.address {
  font-style: normal;
}
.address-link {
  color: #434455;
}
/* ----------------  HEADER  -------------- */

/* ----------------  HERO  -------------- */
.hero {
  background: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}
.hero-button:hover,
.hero-button:active,
.hero-button:focus {
  background-color: #404bbf;
  font-weight: 600;
  cursor: pointer;
}
/* ----------------  HERO  -------------- */

/* ----------------  ADVANTAGES  -------------- */
.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-item-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----------------  ADVANTAGES  -------------- */

/* ----------------  OUR TEAM  -------------- */
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list-item {
  background-color: #ffffff;
}
.team-list-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* ----------------  OUR TEAM  -------------- */

/* ----------------  PORTFOLIO  -------------- */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-item-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* ----------------  PORTFOLIO  -------------- */

/* ----------------  FOOTER  -------------- */
.footer {
  background-color: #2e2f42;
}
.footer-link {
  font-family: "Raleway", sans-serif;
}
.footer-link,
.footer-accent {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-accent,
.footer-title {
  color: #f4f4fd;
}
.footer-link {
  color: #4d5ae5;
}
.footer-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ----------------  FOOTER  -------------- */
